# Unity generated #
# =============== #
Temp/
Obj/
UnityGenerated/
Library/*

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db

# ======== #
# extras #
# ======== #
Library/CurrentLayout.dwlt
Library/CurrentMaximizeLayout.dwlt
Library/ScriptAssemblies/Assembly-UnityScript.dll
Library/ScriptAssemblies/Assembly-UnityScript.dll.mdb
Library/assetDatabase3
Library/guidmapper
Library/metadata/e1/e1261ff0752ef4645a335f145c8f5a28
Library/CurrentLayout.dwlt
Library/CurrentMaximizeLayout.dwlt
Library/ScriptAssemblies/Assembly-UnityScript.dll
Library/ScriptAssemblies/Assembly-UnityScript.dll.mdb
Library/assetDatabase3
Library/metadata/e1/e1261ff0752ef4645a335f145c8f5a28
Library/ScriptAssemblies/Assembly-UnityScript.dll
Library/ScriptAssemblies/Assembly-UnityScript.dll.mdb
Library/assetDatabase3
Library/metadata/95/95e9b2718754442d0931dc05e267798d
Library/metadata/e1/e1261ff0752ef4645a335f145c8f5a28

Temp/__EditModeScene
# ===================== #
# scripts we don't need #
# ===================== #

Assets/Resources/Scripts/gameManager.js~
Assets/Resources/Scripts/help.js

