# Unity generated #
# =============== #
Temp/
Obj/
UnityGenerated/
Library/

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db

# ======== #
# extras #
# ======== #
Library/CurrentLayout.dwlt
Library/CurrentMaximizeLayout.dwlt
Library/ScriptAssemblies/Assembly-UnityScript.dll
Library/ScriptAssemblies/Assembly-UnityScript.dll.mdb
Library/assetDatabase3
Library/guidmapper
Library/metadata/e1/e1261ff0752ef4645a335f145c8f5a28
